[OMP_Configuation]
TEST_MODE=FALSE
OMP_EXE_FILE_PATH=omp
OMP_LOG_FILE_PATH=/home/rforeman/omp/omp_runs.log
INPUT_FILE_DELIMITER=,
OUTPUT_FILE_DELIMITER=,

[OMP_Experimental_Conditions]
ASSAY_TEMPERATURE=45.0
NUMANALY_MIN_TEMPERATURE=0.0
NUMANALY_MAX_TEMPERATURE=100.0
MAGNESIUM_CONCENTRATION=0.0
SODIUM_CONCENTRATION=0.5
GLYCEROL_CONCENTRATION=0.0
DMSO_CONCENTRATION=0.0
FORMAMIDE_CONCENTRATION=0.0
TMAC_CONCENTRATION=0.0
BETAINE_CONCENTRATION=0.0
PH=6.6
POLYMER_SALT=TRUE
PROBE_CONCENTRATION=1.86E-3
TARGET_CONCENTRATION=3.0E-8

[OMP_Run_Info]
INPUT_FILE_PATH=/home/rforeman/omp/input_files/input_example.csv
OUTPUT_FILE_PATH=/home/rforeman/omp/output_files/output_example.csv
OMP_SUPPORT_FILE_DIR=/home/rforeman/omp/omp_support_files/

